{% extends 'admin/layout.html.twig' %}

{% block title %}
    GramAdmin
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Les Gram: statistiques</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Général</h2>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">Nombre de comptes enseignant</th>
                        <td>{{ users_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre d'exercices</th>
                        <td>{{ exercises_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre d'activités réalisées (exercices)</th>
                        <td>{{ activities_count }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2>Modes joués</h2>
                <table class="table table-striped">
                    <tbody>
                    {% for entry in modes %}
                        <tr>
                            <th scope="row">{{ entry.mode }}</th>
                            <td>{{ entry.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
